body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#header h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 30px;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.social-links a {
    background-color: #0077b5;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.social-links a.github-link {
    background-color: #f5f5f5;
    color: #333;
}

.social-links a:hover {
    background-color: #00649a;
}

.social-links a.github-link:hover {
    background-color: #e1e1e1;
}

main {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

#projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin: 0;
    padding: 10px;
    background-color: #eee;
}

.project p {
    color: #555;
    margin: 10px 0;
}

.project a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        margin-top: 10px;
    }

    .project {
        width: 100%;
    }
}